.dashboard-container{
    margin-left:240px;
    margin-top:50px;
    /* overflow-y: hidden; */
    
    
}

.header {
    display: flex;
    align-items: center;
    width:97.3%;
    /* position:fixed; */
   
  }
  
  .header h1 {
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  button {
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .filter {
    background-color: white;
    border: 1px solid #ccc;
    position: relative;
    border-radius:10px;
  }
  
  .filter .notification {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    position: absolute;
    top: -5px;
    right: -5px;
  }
  
  .export {
    background-color: white;
    border: 1px solid #ccc;
    border-radius:10px;
  }
  
  .add-new-field {
    background-color: blue;
    color: white;
    border-radius: 5px;
    border-radius:10px;
  }


  .narrow-hr {
    width: 97%;        
    margin-left:0px;
    margin-top:-1px;
    border: 1px solid #dfe6eb; 
    box-shadow:3px 3px 20px 0px rgba(247, 240, 240, 0.3);
  }
  




  /* headings -table */
  .table-scroll-container {
    overflow-x: auto;
    /* overflow-y: none; */
    width: 97%;
    margin-top: 10px;
    height:114vh;
    overflow-y: hidden;
}

  
  .city-table {
    min-width: 1200px;
    width: 100%;
    border-collapse: collapse;
  }
  
  .city-table th, .city-table td {
    padding: 5px;
    text-align: left;
    white-space: nowrap;
    border-bottom: 1px solid #ddd;
    font-size:12.5px;
    color:#455479;
  }
  
  .headings {
    background-color: rgb(236, 242, 244);
    color: #84919a;
  }
  
  
  .values-styling tr {
    border-bottom: 1px solid hsl(0, 100%, 99%);
  }
  
  
  .city-table th, .city-table td {
    text-align: center; 
    vertical-align: middle;
  }


  /* delete update icons */
  .icon-btn {
    margin-right: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #69747c;
    transition: color 0.2s ease;
  }
   
  .icon-btn:hover {
    color: #0642da; 
  }




  /* pagination */
  .pagination-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 40px;
    background: rgb(245, 246, 247);
    position: fixed; 
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 75%; 
    /* border-radius: 10px; */
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
    margin-left: 110px;
    margin-bottom: -17px;
    
  }
  
  .pagination-btn {
    padding: 5px 25px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: rgb(253, 251, 251);
    color: #6497df;
    font-weight: 500;
    cursor: pointer;
  }
  
  .pagination-btn:hover {
    background-color: #f0f0f0;
  }
  
  .page-numbers {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size:12.5px;
    
  }
  
  .page {
    padding: 8px 12px;
    border-radius: 8px;
    color: #0970ff;
    font-weight: 500;
    cursor: pointer;
  }
  
  .page.active {
    background-color: #eef2ff;
    color: #4338ca;
  }
  
  .dots {
    padding: 8px 12px;
    color: #999;
  }
  
 